---
import Navigation from "../../components/Navigation.vue";
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import { Image } from "astro:assets";
import cover from "../../assets/img/playlists/dark cover.jpg";
---

<Layout title="Logic Moon">
    <main>
        <Navigation client:visible />

        <section class="main-section bg-secondary-400" id="playlists">
            <div class="grid grid-cols-1 w-full md:w-2/3 mx-auto">
                <h1 class="text-center text-4xl" id="g" data-aos="fade-up">
                    DARK - Dark Ambient
                </h1>
                <h2 class="text-xl text-center assistant">Spotify Playlist</h2>
                <div class="flex text-center justify-center">
                    <Image
                        src={cover}
                        alt="DARK - Dark Ambient"
                        class="aspect-square"
                        width="500"
                        height="500"
                    />
                </div>
                <div class="my-6 text-center">
                    Immerse yourself in the depths of darkness with DARK - Dark
                    Ambient, a handselected curated playlist that explores the
                    shadowy realms of atmospheric music. From haunting drones to
                    melancholic soundscapes, this handselected collection delves
                    into the essence of blackness, fog, abyss, and gloom.
                    Experience a sonic journey that offers both introspection
                    and escape, as you navigate through layers of dark ambient
                    textures and emotionally charged compositions.

                    <section>
                        <h3 class="font-medium">Key Features</h3>
                        <ul>
                            <li>
                                Expertly and handselected curated selection of
                                top tier dark ambient tracks
                            </li>
                            <li>
                                Encompasses drone, melancholia, and atmospheric
                                gloom genres
                            </li>
                            <li>
                                Immersive soundscapes that evoke feelings of
                                darkness and introspection
                            </li>
                            <li>
                                Ideal for deep focus, nighttime reflection,
                                creative inspiration, and atmospheric
                                enhancement
                            </li>
                        </ul>
                    </section>
                </div>

                <div>
                    <iframe
                        style="border-radius:12px"
                        src="https://open.spotify.com/embed/playlist/0Hz6L9elW1DN4fPTVvb1uz?utm_source=generator&theme=0"
                        width="100%"
                        height="600"
                        allowfullscreen=""
                        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                        loading="lazy"></iframe>
                </div>
            </div>
        </section>
        <Footer />
    </main>
</Layout>
