---
import { ChevronDownIcon } from "@heroicons/vue/24/solid";
import portrait from "../assets/img/portrait.webp";
import Navigation from "../components/Navigation.vue";
import Discography from "../components/Discography.vue";
import Playlists from "../components/Playlists.astro";
import Contact from "../components/Contact.vue";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Logic Moon">
  <main>
    <Navigation client:visible />

    <!-- Hero -->
    <section
      class="h-screen w-full bg-cover bg-center bg-no-repeat flex flex-col items-center justify-center text-center md:bg-fixed hero-bg">
      <h1 class="cinzel hero">Logic Moon</h1>
      <h2 class="hero my-12" data-aos="fade-up" data-aos-delay="500">music</h2>
      <div class="mt-24" data-aos="fade-down" data-aos-delay="800">
        <a href="#about" class="scroller" title="scrolldown" aria-label="about">
          <ChevronDownIcon
            class="w-12 text-secondary-600"
            title="about"
            aria-label="about"
          />
        </a>
      </div>
    </section>

    <section class="main-section bg-secondary-400" id="about">
      <div
        class="grid grid-cols-1 sm:grid-cols-2 gap-4 w-full md:w-2/3 mx-auto">
        <div>
          <img
            src={portrait.src}
            alt="portrait"
            class="img-fluid hidden sm:block"
            data-aos="fade-up"
            loading="lazy"
          />
        </div>
        <div>
          <h2
            class="text-start xl:text-start"
            id="headline-about"
            data-aos="fade-up">
            About
          </h2>
          <p
            class="text
            text-start
            xl:text-start"
            data-aos="fade-up">
            Tobias Lorsbach is a Mainz, Germany-based artist known as Logic
            Moon. His earlier work has been released on labels such as Archives,
            Archipel, and his own spontanMusik imprint in both physical and
            digital media. He has been involved in the minimal techno genre
            since the early 2000s, and while out on a field recording adventure,
            he came up with the idea of layering some Ambient drones. From this
            evolved his debut album, "Herbst11", as
            <b>Logic Moon</b>.
            <br /><br />
            Tobias' musical experience is diverse, having played guitar in a death
            metal band, starting on a DJ career, and later as an Ambient musician.
            His varied experiences have only served to give rise to a variety of
            concepts, as evidenced by his most recent albums, which also include
            neoclassical influences.
            <br /><br />
            Compositions often begin with a guitar sketch before synth and other
            components are added to create an environment. His style is frequently
            regarded as lively, and his compositions strike a balance between classical
            accessibility and joy in exploration.
          </p>
        </div>
      </div>
    </section>

    <Discography client:load />
    <Playlists /> 
    <Contact client:load />
    <Footer />
  </main></Layout
>
