---

import Navigation from "../components/Navigation.vue";
import Discography from "../components/Discography.vue";
import Playlists from "../components/Playlists.astro";
import Youtube from "../components/Youtube.astro";
import Contact from "../components/Contact.vue";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import About from "../components/About.astro";
import LatestNews from "../components/LatestNews.astro";
import FeaturedRelease from "../components/FeaturedRelease.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Logic Moon">
  <script is:inline>
    (function () {
      try {
        var KEY = "lm_featured_release_hidden_until";
        var hiddenUntil = Number(localStorage.getItem(KEY) || 0);
        if (Date.now() < hiddenUntil) {
          document.documentElement.classList.add("hide-featured");
        }
      } catch (e) {}
    })();
  </script>

  <Navigation client:visible />
  <main class="bg-primary-500 text-secondary-300">
    <div class="fixed top-[140px] right-[5vw] w-[280px] z-40 hidden 2xl:block">
      <FeaturedRelease />
    </div>
    <Hero />
    <About />
    <LatestNews />
    <Discography client:load />
    <Playlists />
    <Youtube />
    <Contact client:load />
    <Footer />
  </main>
</Layout>
