---
import { Image } from "astro:assets";
import aeterna from "../assets/img/playlists/aeterna_cover2.jpg";
import dark from "../assets/img/playlists/dark cover.jpg";
import home from "../assets/img/playlists/home_cover_01.jpg";
---

<section class="section dark" id="playlists">
  <div class="container">
    <div class="section-header" data-aos="fade-up">
      <div class="eyebrow">Playlists</div>
      <h2>I am currently curating mainly three ambient playlists exclusively on Spotify.</h2>
    </div>
      <div class="triplet" data-aos="fade-up">
        <div class="card">
        <a
          href="/spotify-playlist/aeterna-ambient-soundscapes"
          class="group relative overflow-hidden transition-transform duration-300 hover:scale-105 block">
          <div class="relative">
            <Image
              src={aeterna}
              alt="AETERNA - Ambient Soundscapes"
              class="aspect-square w-full brightness-75 transition-all duration-300 group-hover:brightness-100"
              width="500"
              height="500"
            />
          </div>
        </a>
        <div class="card-title mt-4">AETERNA - Ambient Soundscapes</div>
        <p class="text-secondary-500 leading-relaxed">From classic ambient to neoclassical soundscape and ethereal drone with evolving intensity.</p>
      </div>
      <div class="card">
        <a
          href="/spotify-playlist/dark-ambient-drone"
          class="group relative overflow-hidden transition-transform duration-300 hover:scale-105 block">
          <div class="relative">
            <Image
              src={dark}
              alt="DARK - Dark Ambient"
              class="aspect-square w-full brightness-75 transition-all duration-300 group-hover:brightness-100"
              width="500"
              height="500"
            />
          </div>
        </a>
        <div class="card-title mt-4">DARK -Dark Ambient</div>
        <p class="text-secondary-500 leading-relaxed">Drone, Melancholia, Blackness, Fog, Abyss, Gloom, Escape</p>
      </div>
      <div class="card">
        <a
          href="/spotify-playlist/home-ambient-fieldrecordings"
          class="group relative overflow-hidden transition-transform duration-300 hover:scale-105 block">
          <div class="relative">
            <Image
              src={home}
              alt="HOME"
              class="aspect-square w-full brightness-75 transition-all duration-300 group-hover:brightness-100"
              width="500"
              height="500"
            />
          </div>
        </a>
        <div class="card-title mt-4">HOME</div>
        <p class="text-secondary-500 leading-relaxed">Ambient, Lofi, Cassette, Fieldrecording, Texture, Experimental, Ambience, Asian</p>
      </div>
    </div>
  </div>
</section>
