body {
  font-family: 'Assistant Variable', sans-serif;
  @apply bg-primary-600;
}
h1, h2{
	  font-family: 'Cinzel Variable', sans-serif;
}
h3, h4, h5, h6{
      font-family: 'Assistant Variable', sans-serif;
}
h1{
    font-size: 3.5rem;
   
}
h2{
     @apply text-3xl md:text-5xl mt-6 md:mt-0 mb-4;
}

.cinzel{
    font-family: 'Cinzel Variable', sans-serif;
}
.assistant{
    font-family: 'Assistant Variable', sans-serif;
}

.hero-bg{
    background-image: url('img/logic_moon_hero01.webp');
}

.grid-item img {
  filter: grayscale(70%);
  overflow: hidden;
  transition: ease-out 1s;
}

.grid-item img:hover {
  transition: ease-in 0.3s;
  filter: grayscale(0%);
  /* transform: scale(1.1); */
}
footer {
  background-color: black;
  background: url(../assets/img/bg01.webp);
  background-size: cover;
  background-attachment: fixed;
  min-height: 300px;
  padding: 50px 0;
}

#social-icons {
  padding: 20px;
}

#social-icons svg {
  width: 60px;
  margin: 4px;
  overflow: visible;
  transform: matrix(1, 0, 0, 1, 0, 0);
  color: black;
}
h1.hero {
    font-size: 12vw;
    text-transform: uppercase;
    margin: 0 0 -4% 0;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
    mix-blend-mode: screen;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.1); /* black background with 50% opacity */
}
h2.hero {
    font-size: 3vw;
    text-transform: uppercase;
    margin: 0 0 -4% 0;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
    mix-blend-mode: screen;
    background-color: rgba(0, 0, 0, 0.6); 
}

.main-section{
    @apply p-12
}

@media (max-width: 768px) {
    .hero-bg{
        background-image: url('img/logic_moon_hero_mobile01.webp');
    }
h1.hero {
    font-size: 12vw;
    text-transform: uppercase;
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 1);

    color: rgba(0, 0, 0, 0.5);
}
h2.hero {
    font-size: 5vw;
    margin-top: 5px;
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 0.6); 
}
}

a{
    @apply hover:underline font-semibold;
}
a:hover,
button:hover,
input[type='submit']:hover {
    transition: all 0.3s ease-in-out;
} 

.btn-primary {
    @apply bg-primary-500 text-secondary-600 py-2 px-4 hover:bg-opacity-80 hover:no-underline uppercase border border-secondary-800 border-opacity-20;
}
.btn-secondary {
    @apply bg-secondary-600 text-primary py-2 px-4 hover:bg-opacity-80 hover:no-underline uppercase border border-secondary-800 border-opacity-20;
}
.btn-dark {
    @apply bg-primary-600 text-white py-2 px-4 hover:bg-opacity-80 uppercase hover:no-underline border border-secondary-800 border-opacity-20;
}

.kasten-grau_{
    @apply bg-primary-100 px-8 py-8 md:py-12 md:px-10 shadow-lg text-primary-600 hover:no-underline h-full md:h-80 w-full md:w-96 bg-opacity-90 my-4;
}
.kasten-grau{
    @apply bg-primary-500 px-8 py-8 md:py-12 md:px-10 shadow-lg text-secondary-700 hover:no-underline h-full md:h-80 w-full md:w-96 bg-opacity-90 my-4;
}